<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Video Streaming Example</title>
    <style>
        body {
            font-size: 18px;
            font-family: monospace;
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>Node.js Video Streaming Example</h2>

    <video id="videoPlayer" width="700" controls muted="muted" autoplay>
        <source src="/video" type="video/mp4" />
    </video>
</body>

</html>